body {
    background-color: aqua;
    font-family: roboto, sans-serif;
}

.logo-img {
    width: 160px;
    height: 55px;
}
.logo-link {
    display: flex;
    border: 3px solid black;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;

}
#one {
    margin-left:auto ;
    justify-content: flex-end;
}
.information{
    display: flex; 
}
img{
    width: 123px;
    height: 60px;
}
.header-1 .logo-link {
	display: flex;
	flex-wrap: wrap;
    flex: 1 100%;

}
