body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header{
    background-color: #1f2937;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 23% 5% 23%;
}
.header-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 23% 5% 21%;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.paragraph {
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

a{
    color: #f9faf8;
    font-size: 13px;
}